<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!-- Javascript -->
 <script src="/public/javascripts/jquery-3.3.1.min.js"></script>
 <script src="/public/javascripts/jquery-migrate-1.4.1.min.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/jquery.tabs.js"></script>
 <script src="/public/javascripts/greedyNav.js"></script>
<!-- I use this to check fonts are changing as it is quite weird -->
<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}


<link href="/public/stylesheets/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />
