{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block beforeContent %} 

 {% endblock %} 

{% block content %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WF97B7V');</script>
<!-- End Google Tag Manager -->


 <style> 
.govuk-header__content {display:none ;}
</style>

 <div class="govuk-width-container">
  
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WF97B7V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <main class="govuk-main-wrapper govuk-main-wrapper--l">


           <div style= "margin-bottom:140px" id="deletedUserAlertMessage" class="success-summary"> 
                   <h1 class="govuk-heading-l" style="margin-bottom:10px">All tasks have been completed</h1>
                   <p><span style="font-weight:700">Thank you for your participation. <br /><br />Please close this window or tab to return to the survey.</span></p>
               </div>

<!-- 
<section id="allContentHome" class="">
   <h1 class="govuk-heading-xl rj-headings-border" style="" id="company-Name">Assurance Aerospace Engineering
      <span class="govuk-caption-l">Account ID: XJBMNV</span></h1> -->
    

<!--   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds column-minimum">
      <ol class="app-task-list" style="margin-top:0">
        <li class="">
          <h2 class="app-task-list__section">
            <a href="./finance">Finance</a>
          </h2>
           <p style="">You can get help from the government to pay for apprenticeship training. There are a number of different ways, depending on your organisation.</p>
          <ul class="app-task-list__items"  style="padding-left:0">
           <li class="app-task-list__item " id="claimMyFunding">
              <a class="app-task-list__task-name" href="./finance" aria-describedby="eligibility-completed">
               View available funds
              </a>
              <strong class="govuk-tag app-task-list__task-completed " id="claimMyFundingComplete">£18,100</strong>
            </li>

            <li class="app-task-list__item " id="claimMyFunding">
              <a class="app-task-list__task-name" href="./finance/reserve" aria-describedby="eligibility-completed">
               Reserve additional funds
              </a>
              <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
            </li>

            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./finance/transactions" aria-describedby="eligibility-completed" style="width:33%">
               View transactions
              </a>
               <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display" id="eligibilityLevy">Levy funded</strong>
                 <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display " id="eligibilityCoinvestment">Co-investment funded</strong>
                  <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display " id="eligibilityTransfer">Transfer funded</strong>
            </li> -->

    


  

          </ul>


  <!--       <li>
          <h2 class="app-task-list__section">
            Find apprenticeships
          </h2>
          <p style="">Find the right apprenticeship for your business and find a training provider to deliver the training. You can save your searches.</p>
          <ul class="app-task-list__items" style="padding-left:0">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./find" aria-describedby="company-information-completed">
                Find apprenticeship training and get costs
              </a> 
            
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./savedApprenticeships">
                View your saved apprenticeships
              </a>
             <strong class="govuk-tag app-task-list__task-completed" id="savedApps" style="min-width:60px; text-align: center; " id="contact-details-completed"><span>4</span></strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            Find training providers
          </h2>
         <p style="">Find training providers to deliver training and save them to a list.</p>
          <ul class="app-task-list__items" style="padding-left:0">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./find/findaprovider" aria-describedby="contact-details-completed">
                Find training providers
              </a>
          
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./savedProviders">
                View your training providers
              </a>
             <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="contact-details-completed"><span>2</span></strong>

          </ul>
       </li> -->

<!-- 
       <li>
          <h2 class="app-task-list__section">
             Recruit apprentices
          </h2>
          <p style="">Advertise your apprenticeships and view current applications you have been sent.</p>
          <ul class="app-task-list__items" style="padding-left:0">
                         <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="https://das-raa-v2.herokuapp.com/prototypes/public-beta/dashboard">
                Advertise an apprenticeship
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="https://das-raa-v2.herokuapp.com/prototypes/public-beta/dashboard">
                View current applications
              </a>
             <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">0</strong>
            </li>

          </ul>
       </li>

             <li>
          <h2 class="app-task-list__section">
           Enable spending
          </h2>
          <p style="">Add the correct details to access your funds and authorise the spending of those funds.</p>
          <ul class="app-task-list__items" style="padding-left:0">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./orgs">
                Add and view organisations and agreements
              </a>
                          <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">1</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name"  href="./paye">
               Add and view PAYE schemes
              </a>
                          <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">1</strong>

            </li>
          </ul>
       </li> -->

   <!--     <li>
          <h2 class="app-task-list__section">
           Manage apprentices
          </h2>
          <p style="">Manage apprentices in your account.</p>
          <ul class="app-task-list__items" style="padding-left:0">

            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./apprentices/add">
                Add a new apprentice
              </a>
  
            </li>

            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./apprentices/cohorts">
                Review and approve new apprentices
              </a>
           <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">0</strong>
            </li>
             <li class="app-task-list__item">
              <a class="app-task-list__task-name"  href="./apprentices/manage">
                View your current apprentices
              </a>
             <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">2</strong>
            </li>

          </ul>
       </li>



      </ol>
    </div>
  </li> -->
<!-- 

                    <div class="govuk-grid-column-one-third">
                        <section>
                            <nav style="height:47px">
                                <ul class="js-tabs" role="tablist">
                                    <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks" class="selected">Tasks</a></li>
                                </ul>
                            </nav>
                            <div class="panes">
                                <div class="js-tab-pane" id="pane-tasks" role="tabpanel" aria-hidden="false" style="display: block;">
                                    <p>You do not have any tasks</p>
                                </div>
                            </div>
                        </section>
                    </div>
  </div>
</ol>
</div> -->
</div>
</section>
</main>
</div>





</section>
</main>


{% endblock %}
