{% extends "layout.html" %}


{% block beforeContent %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "start-page"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="get" class="form">

        <h1 class="govuk-heading-xl" style="margin-bottom:30px">
          Have you used this service before?
        </h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <!--h2 class="govuk-fieldset__heading">
              
            </h2-->
          </legend>
          <div class="govuk-radios ">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="usedService-1" name="usedService" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="usedService-1">
                Yes, I've used this service before
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="usedService-2" name="usedService" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="usedService-2">
                No, this is my first time
              </label>
            </div>
          </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
