
{% extends "layout.html" %}


{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apprenticeships Non Levy </h1>

        <h2 class="govuk-heading-m">Linkies</h2>

<h2 class="govuk-heading-s">Latest version (V6)</h2>
               <p><a href="/version-6/home">Version 6 Home</a></p>
        <p><a href="/version-6/newregister/version1/start">Version 6 Registration Journey v1</a></p>
                <p><a href="/version-6/newregister/version2/start">Version 6 Registration Journey v2</a></p>
        <p><a href="/version-6/recruit">Version 6 Recruit</a></p>
                <hr style="margin:25px 0 25px 0">
                <h2 class="govuk-heading-s">Old versions </h2>




           <p><a href="/version-1/manage-apprenticeships/start-page">Version 1 Start</a></p>
        <p><a href="/version-1/home">Version 1 Home</a></p>
        <p><a href="/version-1/provider">Version 1 provider</a></p>
         <p><a href="/version-2/home">Version 2 Home</a></p>

        <p><a href="/version-2/unlogged">Version 2 not logged in</a></p>
         <p><a href="/version-3/home">Version 3 Home</a></p>
         <p><a href="/version-3/microsite">Version 3 Microsite</a></p>

                <p><a href="/version-4/home">Version 4 Home</a></p>
       <p><a href="/version-4/microsite">Version 4 Microsite</a></p>
             <p><a href="/version-4/newregister">Non levy registration</a></p>


       <p><a href="/version-5/home">Version 5 Home</a></p>
       <p><a href="/version-5/microsite">Version 5 Microsite</a></p>
        <p><a href="/version-5/newregister/version1/start">Version 5 Registration Journey v1</a></p>
                <p><a href="/version-5/newregister/version2/start">Version 5 Registration Journey v2</a></p>
        <p><a href="/version-5/recruit">Version 5 Recruit</a></p>







    </div>
</div>

{% endblock %}
